@page
@using Torneo.App.Dominio
@model Torneo.App.Frontend.Pages.Jugadores.EditModel
@{
}
<h1>Editar jugador</h1>
<form method="post">
    <div class="form-group">
        <label for="id_jugador">Jugador</label>
        <input id="id_jugador" type="text" name="id_jugador" value="@Model.jugador.id"  class="form-control" readonly>
    </div>
    <div class="form-group">
        <input type ="hidden" asp-for="jugador.id" class="form-control" readonly>
    </div>    
    <div class="form-group">
        <label asp-for="jugador.nombre"></label>
        <input asp-for="jugador.nombre" class="form-control">
        <span asp-validation-for="jugador.nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="jugador.numero"></label>
        <input asp-for="jugador.numero" class="form-control">
        <span asp-validation-for="jugador.nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="id_equipo">Equipo</label>
        <select name="id_equipo" id="id_equipo" class="form-control">
            @foreach (var equipo in Model.equipos)
            {
                <option value="@equipo.id">@equipo.nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="id_posicion">Posicion</label>
        <select name="id_posicion" id="id_posicion" class="form-control">
            @foreach (var posicion in Model.posiciones)
            {
                <option value="@posicion.id">@posicion.nombre</option>
            }
        </select>
    </div>            
    <button type="submit" class="btn btn-primary">Editar jugador</button>
</form>
<a asp-page="./Index" class="btn btn-secondary">Volver</a>