@page
@model Torneo.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<h1>Listado de Jugadores</h1>
<a class="btn btn-primary" style="background:blue" asp-page="./Create">Nuevo Jugador</a>
<form method="get">
  <div class="form-group">
    <label for="b">Buscar</label>
    <input name="b" id="b" class="form-control" asp-for="@Model.bActual">
  </div>
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Numero</th>
      <th scope="col">Acciones</th>      
    </tr>
  </thead>
  <tbody>
      @foreach(var jugador in Model.jugadores)
      {
        <tr>
            <td>@jugador.nombre</td>
            <td>@jugador.numero</td>
            <td>
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@jugador.id">Detalle</a>
                <a class="btn btn-secondary" style="background:red" asp-page="./Edit" asp-route-id="@jugador.id">Editar</a>
                <a class="btn btn-secondary" style="background:green" asp-page="./Delete" onclick="return confirm('Está seguro que desea eliminar el registro?')" asp-route-id="@jugador.id">Eliminar</a>                
            </td>
        </tr>
      }
  </tbody>
</table> 